* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #eeeeee;
  display: flex;
  justify-content: center;
  font-family: "Joan", serif;
  font-weight: 400;
  font-style: normal;
}

.main {
  width: 90%;
  height: 700vh;
  margin-top: 12vh;
}

/* HERO */
.box-one {
  width: 100%;
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.one-one {
  width: 27.7%;
  height: 100%;
  border: 1px solid #8ca4ac;
  border-top: none;
}
.one-two {
  width: 44.4%;
  height: 100%;
  border-bottom: 1px solid #8ca4ac;
}
.one-three {
  width: 27.74%;
  height: 100%;
  border: 1px solid #8ca4ac;
  border-top: none;
}

/*boxes behind spinning text */
.box-two {
  width: 100%;
  height: 24vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.two-one {
  width: 27.7%;
  height: 100%;
  border: 1px solid #8ca4ac;
  border-top: none;
}
.two-two {
  width: 44.4%;
  height: 100%;
  border-bottom: 1px solid #8ca4ac;
}
.two-three {
  width: 27.74%;
  height: 100%;
  border: 1px solid #8ca4ac;
  border-top: none;
}

.box {
  width: calc(90% - 2px);
  height: calc(28vh - 1px);
  overflow: hidden;
  position: absolute;
  z-index: 10;
  display: flex;
  /* align-items: center; */
}
.text {
  position: absolute;
  white-space: nowrap;
  display: flex;
  font-size: 142px;
  z-index: 10;
}
.text span {
  margin: 0;
  padding: 0;
  z-index: 10;
}

/* one with image */
.box-three {
  width: 100%;
  height: 34vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.three-one {
  width: 27.7%;
  height: 100%;
  border: 1px solid #8ca4ac;
  border-top: none;
}
.three-two {
  width: 44.4%;
  height: 100%;
  border-bottom: 1px solid #8ca4ac;
}
.three-three {
  width: 27.74%;
  height: 100%;
  border: 1px solid #8ca4ac;
  border-top: none;
}

.three-top {
  width: 100%;
  height: 75%;
}
.three-bottom {
  width: 100%;
  height: 25%;
  border-top: 1px solid #8ca4ac;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.three-bottom-left {
  width: 60%;
}
.three-bottom-right {
  width: 40%;
  height: 100%;
  padding: 20px;
  border-left: 1px solid #8ca4ac;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.arrow {
  cursor: pointer;
  font-size: 1.5rem;
}
.arrow:hover {
  color: #00c0e8;
  transition: transform 0.25s ease-in-out;
  transform: scale(1.2);
}

.shield {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slogan {
  margin: 25px;
  margin-top: 35px;
  margin-right: 75px;
  font-size: 16px;
}

.slider-container {
  overflow: hidden;
  flex: 1;
}
.slider-track {
  width: fit-content;
  height: 20vh;
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: row;
}
.slide {
  width: 430px;
  height: 100%;
  padding: 40px;
  flex: 0 0 auto;
  border: 1px solid #8ca4ac;
}
.slider-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.slide:hover {
  background-color: #fff;
}

/* progress */
.count-container {
  width: 100%;
}
.count-top {
  width: 100%;
  height: 16vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.count-top-one {
  width: 27.7%;
  height: 100%;
  border: 1px solid #8ca4ac;
  border-top: none;
}
.count-top-two {
  width: 44.4%;
  height: 100%;
  border-bottom: 1px solid #8ca4ac;
  display: flex;
  justify-content: center;
}
.count-text {
  text-align: center;
  height: 100%;
  padding-top: 25px;
  font-size: 28px;
}
.count-top-three {
  width: 27.74%;
  height: 100%;
  border: 1px solid #8ca4ac;
  border-top: none;
}

.count-middle {
  width: 100%;
  height: 32vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
  /* background-color: aquamarine; */
}
.count-middle-left,
.count-middle-right {
  width: 50%;
  height: 100%;
  border: 1px solid #8ca4ac;
  display: flex;
  flex-direction: row;
}
.count-middle-left-left,
.count-middle-left-right,
.count-middle-right-left,
.count-middle-right-right {
  width: 50%;
  height: 100%;
  border: 1px solid #8ca4ac;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(
    circle at center,
    #faecdc,
    #fadce9,
    #f6efff,
    #eeeeee,
    #eeeeee,
    #eeeeee,
    #eeeeee
  );
}

.count-middle-left-left:hover,
.count-middle-left-right:hover,
.count-middle-right-left:hover,
.count-middle-right-right:hover {
  transform: scale(1.08);
}

.counts {
  width: 60%;
  font-size: 60px;
  text-align: center;
  border-bottom: 1px solid #8ca4ac;
}
.count-desc {
  font-size: 18px;
  text-align: center;
  padding-top: 10px;
}

/* sidebar */
.sidebar-top {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.sidebar-top-one {
  width: 27.7%;
  height: 100%;
  border: 1px solid #8ca4ac;
  border-top: none;
}
.sidebar-top-two {
  width: 44.4%;
  height: 100%;
  border-bottom: 1px solid #8ca4ac;
  display: flex;
  justify-content: center;
}
.sidebar-text {
  text-align: center;
  height: 100%;
  padding-top: 25px;
  font-size: 28px;
}
.sidebar-top-three {
  width: 27.74%;
  height: 100%;
  border: 1px solid #8ca4ac;
  border-top: none;
}

.sidebar-desc {
  width: 100%;
  height: 32vh;
  margin-top: 120px;
  border: 1px solid #8ca4ac;
}
.sidebar-desc-left {
  width: 50%;
  height: 100%;
  border-right: 1px solid #8ca4ac;
}
.sidebar-desc-left-top-header {
  font-size: 38px;
  padding-top: 10px;
  padding-left: 5px;
}
.sidebar-desc-left-top-text {
  font-size: 17px;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 70px;
}

.sidebar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.sidebar {
  width: 28.9%;
  border: 1px solid #8ca4ac;
  box-sizing: border-box;
}
.sidebar-item {
  width: 100%;
  padding: 10px;
  font-size: 22px;
  font-weight: 500;
  padding-left: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  cursor: pointer;
  opacity: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sidebar-item:hover {
  border: 1px solid #fdba8a;
}
.sidebar-item.active {
  /* background-color: #ccc; */
  border: 2px solid #ff9b54;
  opacity: 100%;
}
.content {
  width: 75%;
  padding: 60px;
  box-sizing: border-box;
  border: 1px solid #8ca4ac;
  background: linear-gradient(
    90deg,
    #eeeeee 0%,
    #fff7f1 15%,
    #fdecf3 50%,
    #f6f1ff 78%,
    #f6f4fd 87%,
    #eeeeee 100%
  );
}
.sidebar-content-header {
  color: #00c0e8;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.content-image {
  width: 40px;
}
.sidebar-content-title {
  font-size: 46px;
  margin-top: 15px;
}
.sidebar-content-text {
  margin-top: 25px;
  font-size: 18px;
}
.content-button {
  width: fit-content;
  margin-top: 45px;
  padding: 20px;
  border: 2px solid #ff9b54;
  border-radius: 45px;
  font-size: 16px;
  display: flex;
  flex-direction: row;
}
.content-arrow {
  width: 30px;
  height: 100%;
  margin-left: 8px;
  color: #ff9b54;
}

.video-title {
  width: 100%;
  height: 10vh;
  margin-top: 160px;
  padding: 10px;
  border: 1px solid #8ca4ac;
  text-align: center;
  font-size: 34px;
}
.video-container {
  width: 100%;
  height: 100vh;
  margin-top: 40px;
  overflow: hidden;
}
video {
  width: 100%;
  height: 88vh;
  border: 3px solid #8ca4ac;
  object-fit: cover;
}

.faq-section {
  width: 100%;
  border: 1px solid #8ca4ac;
}

.faq-item {
  border: 1px solid #8ca4ac;
  padding: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
.faq-item:hover {
  background-color: #fff;
}

.faq-question {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 1.4rem;
}


.faq-answer {
  display: none;
  padding-top: 1rem;
  font-size: 1.2rem;
}

.faq-toggle {
  background-color: #00c0e8;
  border: none;
  padding: 0.5rem 0.9rem;
  border-radius: 10px;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}
